html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.loaders {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  line-height: 48px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: orange;
  margin-top: 8px;
}
