.react-tree-component .tree-level-0 > .tree-label {
  font-weight: bold;
}

.react-tree-component .tree-level-0 > .tree-header {
  background-color: aliceblue;
  border-bottom: 1px solid #2e6da4;
}

.react-tree-component .tree-header {
  border-bottom: 1px solid whitesmoke;
  padding: 2px 4px;
}

.react-tree-component .tree-header:hover {
  background-color: #c6e3ec;
  border-bottom: 1px solid #81a0b3;
}
